* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  justify-content: space-between;
  align-items: center;
  background: #000;
  display: flex;
  color: #fff;
  height: 125px;
  padding: 0 8%;
}

footer {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-size: 25px;
  padding: 25px;
}
